<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="Advisor">
 	<select id="selectAdvisorAll" resultType="kh.spring.dto.AdvisorDTO">
 		select * from advisor where b_no=#{value}
 	</select>
 	<!--  도움 댓글 페이지 별 글 가져오기 -->
	<select id="selectByPage" resultType="kh.spring.dto.AdvisorDTO">
		select * from(select advisor.*,row_number() over (order by no desc) rown from advisor) where b_no=#{b_no} and (rown between #{start} and #{end})
	</select>
<!-- 	도움 댓글 등록 -->
	<insert id="insertAdivisor">
		insert into advisor values(advisor_seq.nextval,#{b_no},#{email},#{nickname},#{title},#{contents},#{top},#{pants},#{shoes},#{acc},'N',sysdate)
	</insert>
<!-- 	도움댓글 상세보기 -->
	<select id="selectAdvisorDTO" resultType="kh.spring.dto.AdvisorDTO">
		select * from advisor where no=#{value}
	</select>
<!-- 	도움댓글 채택 -->
	<update id="updateChoiceAdvisor">
		update advisor set choice=#{choice} where no=#{no}
	</update>
<!-- 	도움 댓글 삭제 -->
	<delete id="deleteAdvisor">
		delete from advisor where no=#{value}
	</delete>
<!-- 	도움 댓글 전체 삭제 -->
	<delete id="helpBoardDelete">
		delete from advisor where b_no=#{value}
	</delete>
<!-- 	도움댓글 수정 -->
	<update id="modifyAdvisor">
		update advisor set title=#{title}, contents=#{contents},top=#{top},pants=#{pants},shoes=#{shoes},acc=#{acc} where no=#{no}
	</update>
 </mapper> 