<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Board">
<!-- 	도움 게시판 글 전체 가져오기 -->
	<select id="helpBoardSelectAll" resultType="kh.spring.dto.BoardDTO">
		select * from board where category='H' order by 1 desc
	</select>
<!-- 	도움 게시판 글 삽입하기 -->
	<insert id="helpBoardInsert">
		insert into board values(board_seq.nextval,'H','',#{email},#{nick},#{title},#{contents},sysdate,0)
	</insert>
<!--  도움 게시판 페이지 글 가져오기 -->
	<select id="selectByPage" resultType="kh.spring.dto.BoardDTO">
		select * from(select board.*,row_number() over (order by no desc) rown from board) where category='H' and (rown between #{start} and #{end})
	</select>
<!-- 	도움게시판 디테일 -->
	<select id="helpBoardDetailPage" resultType="kh.spring.dto.BoardDTO">
		select * from board where category='H' and no=#{value}
	</select>
<!-- 	도움게시판 검색 -->
	<select id="helpBoardSearch" resultType="kh.spring.dto.BoardDTO">
		select * from(select board.*,row_number() over (order by no desc) rown from board) where category='H' and (title like #{search} or contents like #{search}) and (rown between #{start} and #{end})
	</select>
<!-- 	도움게시판 전체 검색 -->
	<select id="helpBoardAllSearch" resultType="kh.spring.dto.BoardDTO">
		select * from board where category='H' and (title like #{value} or contents like #{value})
	</select>
<!-- 	자랑게시판 업로드 -->
	<insert id="boastBoardInsert">
		insert into board values(board_seq.nextval,'B',#{s_no},#{email},#{nick},#{title},#{contents},sysdate,0)
	</insert>
<!-- 	자랑게시판 게시글 전체 가져오기 정렬은 기본으로 최근게시물 -->
	<select id="boastSelectAll" resultType="kh.spring.dto.BoardDTO">
		select * from board where category = 'B' order by no desc
	</select>
<!-- 	자랑게시판 게시글 선택 가져오기 -->
	<select id="boastSelectByNo" resultType="kh.spring.dto.BoardDTO">
		select * from board where no = #{no} 
	</select>
<!-- 	자랑게시판 게시글 삭제 -->
	<delete id="boastDelete">
		delete from board where no = #{no}
	</delete>
<!-- 	자랑게시판 카테고리 별로 재정렬 -->
	<select id="boastSelectNew" resultType="kh.spring.dto.BoardDTO">
		select * from board where category='B' order by no desc
	</select>
	<select id="boastSelectTrendy" resultType="kh.spring.dto.BoardDTO">
		select * from board where category='B' order by views desc
	</select>
	<select id="boastSelectPopular" resultType="Integer">
		select b_no from boardlike where category='B' group by b_no order by count(*) desc
	</select>
	<select id="boastSelectRandom" resultType="kh.spring.dto.BoardDTO">
		select * from( select * from board where category = 'B' order by DBMS_RANDOM.RANDOM )
	</select>
<!-- 	조회수 증가 -->
	<update id="viewCountPlus">
		update board set views = views + 1 where no = #{no}
	</update>
<!-- 	자랑게시판 전체 검색 -->
	<select id="boastBoardSearchAll" resultType="kh.spring.dto.BoardDTO">
		select * from board where category='B' and (title like #{value} or contents like #{value})
	</select>
<!-- 	자랑게시글 중복 검사 -->
	<select id="boastIsExist" resultType="kh.spring.dto.BoardDTO">
		select * from board where s_no = #{s_no}	
	</select>
<!-- 	자랑게시글 수정 -->
	<update id="boastModify">
		update board set title=#{title},contents=#{contents} where no=#{no}
	</update>
</mapper>