<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Closet">
<!--	옷장 등록 -->
	<insert id="insert" parameterType="java.util.Map">
		insert into closet values(closet_seq.nextval,#{email},#{name},#{memo},#{pub},#{img})
	</insert>
<!-- 	사용자 옷장정보 가져오기 -->
	<select id="selectByEmail" resultType="kh.spring.dto.ClosetDTO">
		select * from closet where email = #{value} order by 1 desc
	</select>
<!-- 	사용자 옷장이름 가져오기 -->
	<select id="selectNameByEmail" resultType="String">
		select name from closet where email = #{email} order by no
	</select>
<!-- 	사용자별 선택한 옷장 정보 가져가기 -->
	<select id="selectByName" parameterType="java.util.Map" resultType="kh.spring.dto.ClosetDTO">
		select * from closet where name = #{name} and email = #{email}
	</select>
<!-- 	옷이 무슨 옷장에 있는가 알기 위함 -->
	<select id="selectByDress" resultType="kh.spring.dto.ClosetDTO">
		select * from closet where no = #{no}
	</select>
<!-- 	옷장 수정 -->
	<select id="update" parameterType="java.util.Map">
		update closet set name=#{name},img=#{img} where no = #{no}
	</select>
	
</mapper>