<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="Comments">
<!--   	댓글 전체 가져오기 -->
  	<select id="commentsAll" resultType="kh.spring.dto.CommentDTO">
  		select * from comments where b_no = #{value} order by 1 desc
  	</select>
<!--   	댓글 등록 -->
  	<insert id="commentInsert">
  		insert into comments values(comments_seq.nextval,#{b_no},#{email},#{nickname},#{contents},sysdate)
  	</insert>
<!--   	댓글 삭제 -->
  	<delete id="commentDelete">
  		delete from comments where no=#{value}
  	</delete>
<!--   	댓글 바로 출력 -->
	<select id="selectByEmail" resultType="kh.spring.dto.CommentDTO">
		select * from comments where b_no = #{b_no} and email = #{email} order by no desc
	</select>
<!-- 	게시판 삭제 시 댓글 삭제 -->
	<delete id="boardDelete">
		delete from comments where b_no=#{value}
	</delete>
<!-- 	모든 댓글 가져오기 -->
	<select id="commentsSelectAllByEmail" resultType="kh.spring.dto.CommentDTO">
		select * from comments where email = #{email}
	</select>
  </mapper>