<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Members">
	<insert id="insert" parameterType="java.util.Map">
		insert into members values(#{email},#{pw},#{name},#{nickname},#{phone},#{gender},sysdate,'N','N',0)
	</insert>

	<update id="updateAuthkey">
		update members set authkey=#{authkey} where email=#{email}
	</update>
	
	<update id="updateAuthStatus">
		update members set authstatus=1 where email=#{value}
	</update>
	
	<select id="checkNickName" resultType="kh.spring.dto.MembersDTO">
		select * from members where nickname=#{value}
	</select>

</mapper>