<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Members">
<!-- 	멤버 등록 -->
	<insert id="insert" parameterType="java.util.Map">
		insert into members values(#{email},#{pw},#{name},#{nickname},#{phone},#{gender},sysdate,'N','N',0)
	</insert>

<!-- 권한 키 업데이트 -->
	<update id="updateAuthkey">
		update members set authkey=#{authkey} where email=#{email}
	</update>
	
<!-- 	권한 업데이트 -->
	<update id="updateAuthStatus">
		update members set authstatus=1 where email=#{value}
	</update>
	
<!-- 	권한 키 가져오기 -->
	<select id="selectAuthKey" resultType="String">
		select authkey from members where email=#{email}
	</select>
	
<!-- 	닉네임 중복 확인 -->
	<select id="checkNickName" resultType="kh.spring.dto.MembersDTO">
		select * from members where nickname=#{value}
	</select>
	
<!-- 	로그인 체크 -->
	<select id="logInOk" resultType="kh.spring.dto.MembersDTO">
		select * from members where email=#{email} and pw=#{pw}
	</select>
	
<!-- 	권한 상태 확인 -->
	<select id="returnAuthStatus" resultType="Integer">
		select authstatus from members where email=#{value}
	</select>
	
<!-- 	닉네임 가져오기 -->
	<select id="returnNickname" resultType="String">
		select nickname from members where email=#{value}
	</select>
	
<!-- 	이메일 찾기 -->
	<select id="findEmail" resultType="String">
		select email from members where name=#{name} and phone=#{phone}
	</select>
	
<!-- 	비밀번호 변경 -->
	<update id="changePwProc">
		update members set pw=#{pw} where email=#{email}
	</update>
	
<!-- 	회원 정보가져오기 -->
	<select id="selectDTO" resultType="kh.spring.dto.MembersDTO">
		select * from members where email=#{value}
	</select>
	
<!-- 	회원 탈퇴 -->
	<delete id="withDraw">
		delete from members where email=#{value}
	</delete>
	
<!-- 	회원수정 -->
	<update id="Infomodify">
		update members set pw=#{pw}, name=#{name}, nickname=#{nickname}, phone=#{phone} where email=#{email}
	</update>
	
<!-- 	성별 찾기 -->
	<select id="selectGender" resultType="String">
		select gender from members where email=#{value}
	</select>
	
<!-- 	멤버  전부 리스트 가져오기 -->
	<select id="selectAll" resultType="kh.spring.dto.MembersDTO">
		select * from members
	</select>
	
	<update id="memberBan">
		update members set ban=#{ban} where email=#{email}
	</update>
	
	<select id="returnBan" resultType="String">
		select ban from members where email=#{email}
	</select>
	

</mapper>