<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="Style">
<!--  	카테고리 별 이미지 가져오기 -->
 	<select id="selectCategoryAll" resultType="String">
 		select distinct path from dress d, dress_img img where d.no = img.d_no and d.email=#{email} and d.category=#{category} and d.c_no=#{c_no}
 	</select>
<!--  	코디 등록 -->
 	<insert id="insert">
 		insert into style values(style_seq.nextval,#{name},#{email},#{top},#{pants},#{shoes},#{acc},#{season},#{memo},sysdate)		
 	</insert>
<!--  	코디 리스트 뽑기 -->
 	<select id="selectAll" resultType="kh.spring.dto.StyleDTO">
 		select * from style where email=#{value} order by 1 desc
 	</select>
<!--  	계절 별 코디 리스트 -->
 	<select id="selectSeason" resultType="kh.spring.dto.StyleDTO">
 		select * from style where season like #{season} and email=#{email} order by 1 desc
 	</select>
<!--  	코디 검색 -->
 	<select id="searchStyle" resultType="kh.spring.dto.StyleDTO">
 		select * from style where (name like #{name} or memo like #{name}) and email=#{email}
 	</select>
<!--  	코디 상세보기 -->
 	<select id="detailStyle" resultType="kh.spring.dto.StyleDTO">
 		select * from style where no=#{value}
 	</select>
<!--  	코디 수정하기 -->
 	<update id="styleModify">
 		update style set name=#{name}, top=#{top},pants=#{pants}, shoes=#{shoes} ,acc=#{acc},season=#{season},memo=#{memo} where no=#{no}
 	</update>
<!--  	코디 삭제 -->
 	<delete id="styleDelete">
 		delete from style where no=#{value}
 	</delete>
<!--  	옷 삭제 시 코디 수정 -->
	<update id="deleteItem">
		update style set ${category}='' where ${category}=#{path}
	</update>
<!-- 	옷 수정 시 코디 같이 수정 -->
	<update id="updateItem">
		update style set ${category}=#{val} where ${category}=#{path}
	</update>
<!-- 	옷 삭제 시 코디 번호 받기 -->
	<select id="selectNo" resultType="Integer">
		select no from style where ${category}=#{path}
	</select>
 	
 </mapper>