@charset "UTF-8";
    *{box-sizing: border-box;font-family: 'Noto Sans KR', sans-serif;}
    #section0{background-image: url(/imgs/bg/cd1.jpg);opacity: 0.8}
    #section1{background-image: url(/imgs/bg/cd2.jpg);opacity: 0.8}
    #section2{background-image: url(/imgs/bg/cd3.jpg);opacity: 0.8}
    #section5{background-image: url(/imgs/bg/cd4.jpg);opacity: 0.8}
    #top{height: 80px;background-color:white;border-bottom: 1px solid gray;}
    #bottom{background-color:white;border-top: 1px solid gray; position: absolute; bottom: 0;width: 100%;height: 150px;}
    #bottom-logo{height: 150px; line-height: 150px;}
    #bottom-contents{font-size: 10pt;color: gray;}
    #label1{position:absolute;left: 500px;top: 330px;color: white; font-weight: 800;}
    #label2{position:absolute;font-weight: 800;}
    #label3{position:absolute;left: 20px; top:670px;}
    #label3>h1{font-weight: 800;color: black;}
    #label4>h1{font-weight: 800;color: white;}
    .circleBtn{display: inline-block;width: 200px;height: 200px;}
    .circleBtn>label{position: relative;z-index: 1; font-size: 15pt; font-weight: 800;}
    .circleBtn>img{-webkit-transition: -webkit-transform .4s ease-in-out;transition:transform .4s ease-in-out;}
    .circleBtn>img:hover{cursor: pointer;-webkit-transform: rotate(15deg);transform: rotate(15deg);}
    #btnBox{background-color:white;background:rgba(255, 255, 255, 0.8);height: 300px;margin-bottom: 80px;}
    .nav-item>a{color: black; font-size: 15pt;}
    .logo{font-size: 15pt;}